do_token = "{{ vault_do_token }}"
datadog_api_key = "{{ vault_datadog_api_key }}"
datadog_app_key = "{{ vault_datadog_app_key }}"
zabbix_user = "{{ vault_zabbix_user }}"
zabbix_password = "{{ vault_zabbix_password }}"
zabbix_server_url = "{{ vault_zabbix_server_url }}"